<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="public/img/favicon2.png" />

    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script src="pagepiling/jquery.pagepiling.js"></script>
    <link rel="stylesheet" href="pagepiling/jquery.pagepiling.min.css">
    </script>
    <script src="public/js/index.js"></script>
    <link rel="stylesheet" href="public/css/index.css">
    </script>

    <title>$DOOM TOKEN</title>
</head>

<body>
    <audio id="switchon">
        <source src="public/sounds/dsswtchn.wav">
        </source>
        Your browser isn't invited for super fun audio time.
    </audio>
    <audio id="dsgetpow">
        <source src="public/sounds/dsgetpow.wav">
        </source>
    </audio>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="navbar-brand text-danger" href="#"><img src="public/img/logo-mini.png" class=" img-responsive"
                alt="" id="logo"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
                <li id="menu-item-42"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-42">
                    <a href="XXX" class="nav-link">BUY DOOM</a></li>
                <li id="menu-item-963"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-963"><a
                        href="XXX" class="nav-link">CONTRACT</a></li>
                <li id="menu-item-40"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="XXX"
                        class="nav-link">AUDIT</a></li>
                <li id="menu-item-40"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="XXX"
                        class="nav-link"> <img src="public/img/telegram-logo.png" alt="">
                        TELEGRAM</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="d-none">DOOM TOKEN</h1>
    <div id="pagepiling">
        <div class="section bg-dark" id="section1">
            <div class="vimeo-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/271976941?background=1&autoplay=1&loop=1&byline=0&title=0&muted=true&responsive=true"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="container mt-5 mb-5 h-100">
                <div class="row h-100 align-content-center">
                    <div class="col-6 offset-3 align-self-center">
                        <div class="text-center mt-4 text-white">
                            <h1>404, Page not found.</h1>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>