<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="public/img/favicon2.png" />

    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script src="pagepiling/jquery.pagepiling.js"></script>
    <link rel="stylesheet" href="pagepiling/jquery.pagepiling.min.css">
    </script>
    <script src="public/js/index.js"></script>
    <link rel="stylesheet" href="public/css/index.css">
    </script>

    <title>$DOOM TOKEN</title>
</head>

<body>
    <audio id="switchon">
        <source src="public/sounds/dsswtchn.wav">
        </source>
        Your browser isn't invited for super fun audio time.
    </audio>
    <audio id="dsgetpow">
        <source src="public/sounds/dsgetpow.wav">
        </source>
    </audio>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="navbar-brand text-danger" href="#"><img src="public/img/logo-mini.png" class=" img-responsive"
                alt="" id="logo"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
                <li id="menu-item-42"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-42">
                    <a href="XXX" class="nav-link">BUY DOOM</a></li>
                <li id="menu-item-963"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-963"><a
                        href="XXX" class="nav-link">CONTRACT</a></li>
                <li id="menu-item-40"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="XXX"
                        class="nav-link">AUDIT</a></li>
                <li id="menu-item-40"
                    class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="XXX"
                        class="nav-link"> <img src="public/img/telegram-logo.png" alt="">
                        TELEGRAM</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="d-none">DOOM TOKEN</h1>
    <div id="pagepiling">
        <div class="section bg-dark" id="section1">
            <div class="vimeo-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/271976941?background=1&autoplay=1&loop=1&byline=0&title=0&muted=true&responsive=true"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="container mt-5 mb-5 h-100">
                <div class="row h-100 align-content-center">
                    <div class="col-6 offset-3 align-self-center">
                        <img src="public/img/logo.png" class="img-fluid" alt="">
                        <div class="text-center mt-4 text-white">
                            <button id="enter">ENTER</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="section bg-dark text-white" id="section2">
            <div class="d-flex align-items-center h-100">
                <div class="row align-content-center">
                    <div class="col-sm-12 col-12 col-lg-5 offset-lg-1 align-self-center nooverflow">
                        <div class="container p-4">
                            <img src="public/img/doomvsshitcoin.jpeg" class="img-fluid headshot headshot-1" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-12 offset-lg-1 nooverflow">
                        <div class="container">
                            <div id="epic-description" class="container text-justify text-container p-4">
                                Rising from the ashes of an abandoned project,
                                a ragtag team of investors sought to bring justice to the markets.
                                And so <b class="highlight2">DOOM TOKEN</b> was born and rose like a bull to soar and
                                bring
                                their
                                community back from the brink of shitcoin desolation!
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section bg-dark text-white" id="section3">
            <div class="row h-100 align-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 offset-lg-4">
                    <div class="container nooverflow text-box p-3">
                        <h3 class="text-center">TOKENOMICS</h3>
                        <h4 class="text-center">Max Supply = 66,666,666 DOOM</h4>
                        <p class="text-justify">Burn and communal reflect token with liquidity feedback loop on Binance
                            Smart Chain.
                            3.33% will be automatically burned in the depths of HELL for every transaction.
                            Another 3.33% will be sent to the PURGATORY WALLET left to the mercy of the community.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="section bg-dark text-white" id="section4">
            <div class="row h-100 align-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="container text-container p-3">
                        <h3 class="text-center  mb-3">
                            DOOM holders will vote once a week to decide the fate of the funds left in <b
                                class="highlight2">PURGATORY</b>.
                        </h3>
                        <h3 class="text-center mb-3">They can...</h3>
                        <h4 class="text-center mb-4">Send it all to <b class="highlight2">HELL.</b></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section bg-dark text-white" id="section5">
            <div class="row h-100 align-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="container text-box p-3">
                        <div class="row align-content=center">
                            <div class="col-3 align-self-center">
                                <img src="public/img/doom-health-pack.jpg" class="img-fluid" alt="" srcset="">
                            </div>
                            <div class="col-9">
                                <div class="container">
                                    <h5>
                                        <b class="highlight2">REPLENISH</b> will add 55% of PURGATORY wallet funds to the
                                        doom
                                        pancakeswap liq pool and 45%
                                        distributed to DOOM token holders.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row align-content=center">
                            <div class="col-3 align-self-center">
                                <img src="public/img/berserk.gif" class="img-fluid" alt="" srcset="">
                            </div>
                            <div class="col-9">
                                <div class="container">
                                    <h5>
                                        <b class="highlight2">MAX HEALTH</b> to send all the funds evenly to holders
                                        (this
                                        will only
                                        be available every so
                                        often to discourage constant use)
                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section4">
            <div class="row h-100 align-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="container text-container p-3">
                        <div class="container text-white">
                            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active text-center p-4">
                                        <h5>15% of DOOM token supply will be airdropped to the GOODBOI community to rectify the misdeeds
                            of the BADBOI dev who left the project to the hoard.</h5>
                                    </div>
                                    <div class="carousel-item text-center p-4">
                                        <h5>13% will be held in a multi sig wallet to pay for future dev work, marketing and used for
                            giveaways. 2% will be set aside for team.</h5>
                                    </div>
                                    <div class="carousel-item text-center p-4">
                                        <h5>Rest of the supply will be available for presale for an as yet to be determined price with
                            those funds used to pay for the dev work already done, graphic designs, website work and
                            more (we may buy a virtual machine to run doom all day, pls don’t judge us).</h5>
                                    </div>
                                    <div class="carousel-item text-center p-4">
                                        <h5>Any tokens
                            available after the presale will be listed with liquidity locked for a year through Unicrypt
                            like service available for BSC.</h5>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselContent" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselContent" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>